{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/css/output.css' %}">
</head>
<body>
    <div class="flex items-center justify-center h-screen bg-zinc-700">
        <div class="text-white font-bold flex flex-col md:flex-row space-y-4 md: space-x-0 md:space-y-0 md:space-x-4">
            <a href="{% url 'signup' %}">Signup</a>
            <a href="{% url 'pricing' %}">Pricing</a>
            <a href="{% url 'modal' %}">Modal</a>
            <a href="{% url 'gallery' %}">Gallery</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'clipboard' %}">Clipboard</a>
            <a href="{% url 'loopstudios' %}">Loopstudios</a>
            <a href="{% url 'shortly' %}">Shortly</a>
        </div>
    </div>
</body>
</html>
