/* input.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clipboard mini project */
.clipboard-section-container {
  @apply max-w-6xl mx-auto text-center px-10
}

.clipboard-h3 {
  @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl
}

.clipboard-section-content {
  @apply max-w-3xl mx-auto leading-9 text-center text-grayishBlue;
}

/* Custom background layer */
.clipboard-bg {
  background-image: url('../clipboard/images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
  brightness(101%) contrast(94%)
}

.clipboard-button-container {
  @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4
}

@media(max-width: 576px) {
  .clipboard-bg {
    background-image: url('../clipboard/images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  #loop-hero {
    background-image: url('../loopstudios/images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* Custom Loopstudios mini project */
#loop-hero {
  background-image: url('../loopstudios/images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.item-gradient {
  @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
}

.item-container {
  @apply flex flex-col justify-between w-full space-y-6 text-2xl text-white uppercase md:flex-row md:space-y-0 md:space-x-8
}

.loop-item {
  @apply relative overflow-hidden md:w-1/4;
}
.loop-h5 {
  @apply absolute px-6 duration-200 w-52 bottom-4 md:bottom-8 md:px-10 group-hover:scale-110 group-hover:text-black;
}

.loop-btn {
  @apply px-10 py-2 my-0 font-bold tracking-widest uppercase border-2 border-black font-alata hover:bg-black hover:text-white
}

.loop-nav-line {
  @apply mx-2 border-b-2 opacity-0 group-hover:border-blue-50 group-hover:opacity-100 duration-150
}

/* Hamburger Menu */
.hamburger {
  cursor: points;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Custom layer for h1 */
h1 {
  @apply text-4xl font-bold text-blue-500; /* Apply Tailwind CSS classes to h1 */
  /* Add more custom styles for h1 if needed */
}

@layer base {
  h1 {
    @apply text-4xl font-bold text-blue-500; /* Apply Tailwind CSS classes to h1 */
    /* Add more custom styles for h1 if needed */
  }
}